* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  background-color: #0e0e0e;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
