/* --- MAIN DASHBOARD --- */
.dashboard {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.waste-card {
  background-color: #142b4f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  gap: 1.5rem;
  width: 100%;
  max-width: 800px;
}

.bin-status {
  width: 100px;
  height: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.bin-status::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* filled level */
  background-color: var(--fill-color, #fff);
  z-index: 1;
}

.fill-text {
  position: relative;
  z-index: 2;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.bin-details {
  flex-grow: 1;
}

.bin-details p {
  font-size: 0.8rem;
  color: #d6e1f2;
}

.details-btn {
  background: none;
  color: white;
  font-size: 1.8rem;
  border: 2px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s;
}

.details-btn:hover {
  background-color: white;
  color: #142b4f;
}

