/* --- LOGIN BUTTON --- */
.login-btn {
  background-color: var(--color-nav-bg);
  color: var(--color-text-light);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--color-nav-bg);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.login-btn:hover {
  background-color: var(--color-text-light);
  color: var(--color-nav-bg);
  border-color: var(--color-text-light);
}

.login-btn:active {
  transform: scale(0.98);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}